

/Accessors/bin
/Accessors/obj

/DataContracts/bin
/DataContracts/obj

/API/bin
/API/obj

/Managers/bin
/Managers/obj

/Engines/bin
/Engines/obj


/Tests/bin
/Tests/obj
/Tests/TestResults

/Host/bin
/Host/obj
/Host/*.user

.vs/
