Accessors/obj/Accessors.csproj.nuget.dgspec.json
Accessors/obj/Accessors.csproj.nuget.g.props
Accessors/obj/Accessors.csproj.nuget.g.targets
Accessors/obj/project.assets.json
Accessors/obj/project.nuget.cache
Accessors/obj/Debug/net10.0/Accessors.AssemblyInfo.cs
Accessors/obj/Debug/net10.0/Accessors.AssemblyInfoInputs.cache
Accessors/obj/Debug/net10.0/Accessors.assets.cache
Accessors/obj/Debug/net10.0/Accessors.csproj.AssemblyReference.cache
Accessors/obj/Debug/net10.0/Accessors.GeneratedMSBuildEditorConfig.editorconfig
DataContracts/obj/DataContracts.csproj.nuget.dgspec.json
DataContracts/obj/DataContracts.csproj.nuget.g.props
DataContracts/obj/project.assets.json
DataContracts/obj/project.nuget.cache
DataContracts/obj/Debug/net10.0/DataContracts.AssemblyInfo.cs
DataContracts/obj/Debug/net10.0/DataContracts.AssemblyInfoInputs.cache
DataContracts/obj/Debug/net10.0/DataContracts.assets.cache
DataContracts/obj/Debug/net10.0/DataContracts.GeneratedMSBuildEditorConfig.editorconfig
Engines/obj/Engines.csproj.nuget.dgspec.json
Engines/obj/Engines.csproj.nuget.g.props
Engines/obj/project.assets.json
Engines/obj/project.nuget.cache
Engines/obj/Debug/net10.0/Engines.AssemblyInfo.cs
Engines/obj/Debug/net10.0/Engines.AssemblyInfoInputs.cache
Engines/obj/Debug/net10.0/Engines.assets.cache
Engines/obj/Debug/net10.0/Engines.GeneratedMSBuildEditorConfig.editorconfig
Host/obj/Host.csproj.nuget.dgspec.json
Host/obj/Host.csproj.nuget.g.props
Host/obj/Host.csproj.nuget.g.targets
Host/obj/project.assets.json
Host/obj/project.nuget.cache
Host/obj/Debug/net10.0/Host.AssemblyInfo.cs
Host/obj/Debug/net10.0/Host.AssemblyInfoInputs.cache
Host/obj/Debug/net10.0/Host.assets.cache
Host/obj/Debug/net10.0/Host.csproj.AssemblyReference.cache
Host/obj/Debug/net10.0/Host.GeneratedMSBuildEditorConfig.editorconfig
Managers/obj/Managers.csproj.nuget.dgspec.json
Managers/obj/Managers.csproj.nuget.g.props
Managers/obj/Managers.csproj.nuget.g.targets
Managers/obj/project.assets.json
Managers/obj/project.nuget.cache
Managers/obj/Debug/net10.0/Managers.AssemblyInfo.cs
Managers/obj/Debug/net10.0/Managers.AssemblyInfoInputs.cache
Managers/obj/Debug/net10.0/Managers.assets.cache
Managers/obj/Debug/net10.0/Managers.csproj.AssemblyReference.cache
Managers/obj/Debug/net10.0/Managers.GeneratedMSBuildEditorConfig.editorconfig
Engines/obj/Debug/net10.0/Engines.AssemblyInfoInputs.cache
Engines/obj/Debug/net10.0/Engines.assets.cache
Engines/obj/Debug/net10.0/Engines.GeneratedMSBuildEditorConfig.editorconfig
